<script src="~/js/getLocation.js"></script>


@if (User.Identity.IsAuthenticated)
{
   @*<form id="selectForm">
        <select id="chooseForm">
            <option value="fauna">Fauna</option>
            <option value="flora">Flora</option>
            <option value="geology">Geology</option>
            <option value="archaeology">Archaeology</option>
        </select>
        <button class="btn" type="submit"></button>
    </form>
    <div id="collection-form"></div>*@

 @Html.Partial("collect_form.cshtml")

}
else
{
    <h5>Please login to access this portal</h5>
    <p><a href="Account/Index">Here</a></p>
}
<!--Add option to choose different forms here, currently only one form is available-->