<script src="~/js/getLocation.js"></script>

@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("collect_form");
    
   <!--Add Previous Submissions here, for some reason User Identity isn't getting added-->
    <h3>Previous Submissions</h3>

}
else
{
    <h5>Please login to access this portal</h5>
    <p><a href="Account/Index">Here</a></p>
}
<!--Add option to choose different forms here, currently only one form is available-->