<script src="~/js/getLocation.js"></script>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col s12 m12">
            <div class="card-panel grey darken-2">
                <span class="white-text">
                    <h3>Collection Form</h3>
                    <form class="theform" asp-action="Create" asp-controller="Collection" method="post" enctype="multipart/form-data">
                        <label for="name">Name of species</label>
                        <input type="text" id="title" name="name" required />
                        <br />
                        <label for="picture">Photo</label>
                        <input type="file" id="picture" name="picture" class="btn" />
                        <br />
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" required />
                        <br />
                        <label for="height">Height</label>
                        <input type="text" id="height" name="height" />
                        <br />
                        <label for="length">Length</label>
                        <input type="text" id="length" name="length" />

                        <input type="hidden" id="latitude" name="latitude" />
                        <input type="hidden" id="longitude" name="longitude" />
                        <br />
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date" />
                        <button class="btn" type="submit">Submit Data</button>
                    </form>
                </span>
            </div>
        </div>
    </div>
    
   <!--Add Previous Submissions here, for some reason User Identity isn't getting added-->
    <h3>Previous Submissions</h3>

}
else
{
    <h5>Please login to access this portal</h5>
    <p><a href="Account/Index">Here</a></p>
}
<!--Add option to choose different forms here, currently only one form is available-->