<script src="~/js/getLocation.js"></script>

@if (User.Identity.IsAuthenticated)
{

    <h3>Collection Form</h3>
    <form class="theform" asp-action="Index" asp-controller="Collection" method="post" enctype="multipart/form-data">
        <label for="title">Name of species</label>
        <input type="text" id="title" name="title" />
        <br />
        <label for="picture">Photo</label>
        <input type="file" id="picture" name="picture" class="btn" />
        <br />
        <label for="description">Description</label>
        <input type="text" id="description" name="description" />
        <br />
        <label for="height">Height</label>
        <input type="text" id="height" name="height" />
        <br />
        <label for="length">Length</label>
        <input type="text" id="length" name="length" />
        
        <input type="hidden" id="latitude" name="latitude"  />
        <input type="hidden" id="longitude" name="longitude"  />
        <br />
        <button class="btn" type="submit">Submit Data</button>
    </form>

    <h3>Previous Submissions</h3>

}
else
{
    <h5>Please login to access this portal</h5>
    <p><a href="Account/Index">Here</a></p>
}
<!---
//(User.Identity.IsAuthenticated)
//{  
    <form id="form-type" method="post">
        <select class="select-form">
            <option value="1">Fauna</option>
            <option value="2">Flora</option>
            <option value="3">Geology</option>
        </select>
        <input type="submit" class="btn" value="Load Form" />
    </form>
<form id="fauna">
    <input type="submit" class="btn" value="Fauna" />
</form>
<form id="flora">
    <input type="submit" class="btn" value="Flora" />
</form>
<form id="geology">
    <input type="submit" class="btn" value="Geology" />
</form>
<div class="form-placement"></div>
<!--}
//else
//{
    <h3>Please log in or register to use this resource.</h3>
//} -->