<div class="row">
    <div class="col s12 m12">
        <div class="card blue lighten-3">
            <div class="card-content white-text">
                <span class="card-title">Contact</span>
                <p>
                    This project is licensed under GPLv3. Please direct your inquires and bug reports to our GitHub repository. 
                </p> 
                <a href="https://github.com/brianpritt/CitizenScience" class="fa fa-github fa-2x"></a>
                <a href="https://twitter.com/brianpritt" class="fa fa-twitter fa-2x"></a>
            </div>
        </div>
    </div>
</div>






