@using CitizenScience.Models

<script src="~/js/drawMap.js"></script>

    <div class="row">
        <div class="col sm12 m6 offset-m3">
            @Html.Partial("result_form")
        </div>
        @*<div class="col sm12 m6">
            <div id="map" class="map-design"></div>
         </div>*@
    <div id="newdata"></div>
        </div>
    <div class="row">
        <div class="results"></div>
    </div>
    <div class="makeroom"></div>
    
