@using CitizenScience.Models

<script src="~/js/drawMap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNmEdwEFOm_I2jY6WqN98p_QItuuYfF4s&callback=initMap"></script>

<div class="container">
    <div class="row">
        <div class="col sm12 md6">
            @Html.Partial("result_form");
        </div>
        
       
    <div id="newdata"></div>

    <div class="row">
        <div class="results"></div>
    </div>
    <h4>Location</h4>

    
    <div class="makeroom"></div>
</div>
    </div>
