@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CitizenScience.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <div class="row">
        <div class="col s12 m12">
            <div class="card blue lighten-3">
                <div class="card-content white-text">
                    <span class="card-title">Quick Search</span>
                    <form id="data-form" asp-action="Result" asp-controller="Research" method="post" enctype="multipart/form-data">
                        <hr />
                        <label for="search">Name</label>
                        <input type="text" id="sea" name="search" />
                        <button type="submit" class="btn">Search</button>
                    </form>

                    <form id="api-call" asp-action="API" asp-controller="Research" method="post" enctype="multipart/form-data">
                        <select name="name" id="name">
                            @foreach (Fauna item in ViewBag.listPopulate)
            {
                                <option value=@item.FaunaName>@item.FaunaName</option>
                            }
                        </select>
                        <button type="submit" class="btn">Json Return</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
                    }
