@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CitizenScience.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <div class="row">
        <div class="col s12 m12">
            
                    <h4 class="card-title">Quick Search</h4>
                    <form id="data-form" asp-action="Result" asp-controller="Research" method="post" enctype="multipart/form-data">
                        
                        <label for="search" style="display:inline-block;">Name</label>
                        <input type="text" style="display:inline-block;" id="sea" name="search" />
                        <button type="submit" style="display:inline-block" class="btn">Search</button>
                    </form>

                    @*<form id="api-call" asp-action="API" asp-controller="Research" method="post" enctype="multipart/form-data">
                        <select name="name" id="name">
                            @foreach (Fauna item in ViewBag.listPopulate)
            {
                                <option value=@item.FaunaName>@item.FaunaName</option>
                            }
                        </select>
                        <button type="submit" class="btn">Json Return</button>
                    </form>*@
                    </div>
                </div>
            
                    }
