@{

    Layout = null;
}
@using CitizenScience.Models

@foreach (CitizenScience.Models.Fauna item in Model)
{

    string photoImage = "";
    if (item.FaunaPhoto != null)
    {
        photoImage = String.Format("data:image/gif;base64," + Convert.ToBase64String(item.FaunaPhoto));

        <div class="results"></div>

        <div class="col s12 m6 xs12">
            <div class="card-panel grey darken-2">
                <span class="white-text">
                    <h3>@item.FaunaName</h3>
                    <p>Approximate Location:</p>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.FaunaId }) </p>
                    
                    
                </span>
            </div>
        </div>
    }
}
