<!DOCTYPE html>
@using System.Security.Claims
<html>
    <head>
        @Html.Partial("head");
    </head>
    <body>
        @Html.Partial("navbar");
        <div>
               @RenderBody()
        </div>
    </body>
</html>