
body{
    background-color: #fff;
}

.nav-wrapper{
    background-color: rgba(0,0,0,0.6);
}

.about-top{
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.card{
    border-radius: 0.8px;
}
img{
    width:200px;
}
#map {
    height: 500px;
    width: 500px;
}
.centering{
    text-align:center;
}
.map-design{
    margin: auto;
    padding-bottom: 20px;
}
.makeroom{
    height: 30px;
}
@media screen and (max-width: 480px){
    #map{
        height:250px;
        width:250px;
    }
}
.top-section{
    background-image: url("../images/main_bg.jpg");
}